body {
	font-family: "verdana"
}
h1 {
	color: white;
	border: solid;
	border-color: BlueViolet;
	border-radius: 5px;
	background-color: BlueViolet;
	text-align: center;
}
#log_in {
	position: relative;
	width:40%;
	background-color: BlueViolet;
	margin: auto;
	width:40%;
	min-width: 400px;
	height: 50%;
	min-width: 200px;
	padding: 10px;
	border-radius: inherit;
}
.container {
	background-color: DarkMagenta;
	opacity: 0.3;
	width:80%;
	position: relative;
	margin:auto;
	height: 500px;
	padding: 20px;
	border-radius: 10px;
}
.container:hover {
	opacity: 0.9;
}
body {
	background: url("images/login_background.jpg");
	background-size: cover;
}
input {
	position: relative;
	margin: 10px;
}
input[type=text],[type=password]{
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
input[type=submit] {
	width: 40%;
}
.button {
	text-decoration: none;
	color: white;
	border: solid;
	border-width: 2px;
	border-radius: 5px;
	background-color: rgba(0,0,0,0.5);
	padding: 5px;
}
.button:hover {
	background-color: rgba(0,0,0,1);
}