{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'app1/feed.css' %}">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form method="post" action="/post/">
        {% csrf_token %}
        <input type="submit" value="Create Post" class="button">
    </form>
    <form method="post" action="/log_out/">
        {% csrf_token %}
        <input type="submit" value="Log Out" class="button">
    </form>  
    <div class="container">
        {% for post in posts %}
            <div class="header">
                <h4> Posted by: {{ post.user.username }} </h4>
                <p>[{{ post.created_on }}]</p></div>
            <div class="imagearea">
                <div class="img_capt">
                    <img style="width:350px; height:300px;"src="{{ post.image_url }}" />
                    <div class="captionarea">
                        {{ post.caption }}
                    </div>
                </div>
                <div class="likearea">
                    {{ post.like_count }} likes this
                    <form method="POST" action="/like/">
                        {% csrf_token %}
                            <input type="hidden" name="post" value="{{ post.id }}" />
                        {% if post.has_liked %}
                            <input type="submit" value="Unlike" class="button">
                        {% else %}
                            <input type="submit" value="Like" class="button">
                        {% endif %}
                    </form>                
                </div>
                <div class="commentarea">
                    <form method="POST" action="/comment/">
                        {% csrf_token %}
                            <input type="hidden" name="post" value="{{ post.id }}" />
                            <input type="text" name="comment_text" id="comment_text" placeholder="Make a comment.." value="{{ comment_text }}">
                            {{ comment_text }}
                            <input type="submit" value="Comment" class="button">
                    </form>
                    {% for comment in post.comments %}
                        <p><b><span class="user">{{ comment.user.username }}</span><br> <span class="dated">[{{ comment.created_on }}]:</b></span><span class="comm">{{ comment.comment_text }}</span></p>
                    {% endfor %}
                </div>
            </div>
        {% endfor %}
    </div>
</body>
</html>