{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'app1/login.css' %}"/>
        <title>Login</title>
    </head>
    <body>
        <div class="container">
            <h1>Login</h1>
            <form class="login" method="POST" id="log_in">
                {% csrf_token %}
                <input type="text" placeholder="Username" name="username" value={{username}}><br>
                <input type="password" placeholder="Password" name="password" value={{password}}><br>
                <input type="submit" value="Log in" class="button">
            </form>
		{{message}}
        </div>
    </body>
</html>